<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag "new_note" do %>
  <h1>Articles</h1>
  <%= link_to "New article", new_article_path %>
<% end %>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

